body {
    font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.428571;
    color:grey;
    left: 120px;
    margin-left: 160px;
    width: 800px;
}

fieldset{
    width:30%;
    margin:10px auto;
    padding:10px;
}

fieldset>input,select,meter{
    width:100%;
    box-sizing:border-box;
    height:30px;
    margin-top:10px;
    border-radius:4px;
    border:none;
    border:1px solid #ccc;
}

* {
    margin: 0px;
    padding: 0px;
    margin-left:5px;
}

.nav {
    list-style: none; /* 去除无序列表的每条记录的标识 */
}

ul {
    width: 1000px;
    height: 30px;
    background-color: #550;
    overflow: hidden;
    margin: 50px auto; /* 元素水平居中 */
}

li {
    float: left;
    width: 100px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 0; /* 增加内边距，将li元素的高度撑起来，li元素已经设置漂浮，其高度只能通过子元素来撑起来 */
    text-align: center;
    display: block; /* 设置成块元素之后,可以设置宽高,将漂浮的块元素li撑起来*/
    width: 100%;
}

.nav li a:hover {
    background-color: deepskyblue; /*设置整个元素的背景 */
    color: darkred; /*设置的是标签内容(这里是文字)的颜色 */
}